html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    box-sizing: border-box;
}
body {
    background-color: var(--background-purple);
    color: white;
}

:root {
    --purple: #6644b8;
    --darkpurple: #37274b;
    --background-purple: #120522;
    --border: rgba(255, 255, 255, 0.5);
}

.login-title {
    text-align: center;
}
.login-title1 {
    font-size: 2.5rem;
    color: var(--purple);
}
.login-title2 {
    font-size: 0.9rem;
    font-weight: 100;
}
input {
    border: none;
    outline: none;
    appearance: none;
}
html,
body {
    overflow: hidden;
}
.login-form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}
.login-form input {
    padding: 15px 0;
    margin: 0 15px;
    border: none;
    outline: none;
    appearance: none;
    background-color: var(--background-purple);
    font-size: 1rem;
}
.login-form input:not([type="submit"]) {
    color: white;
    border-bottom: 1px solid var(--border);
    transition: border-color 0.3s ease-in-out;
}
.login-form input:focus {
    border-color: yellow;
}
.login-form input[type="submit"] {
    color: white;
    background-color: var(--darkpurple);
    border-radius: 20px;
    margin-top: 2rem;
    transition: background-color 0.2s ease-in-out;
}
.login-form input[type="submit"]:active {
    background-color: var(--purple);
}
.login-image {
    display: flex;

}